<div>
    <h1 [ngStyle]="{'color':'black','background-color':'#DAF7A6','text-align':'center', 'padding':'1rem'}">Desafio - Clase Nº4</h1>
    <div [ngStyle]="{'background-color':'#E7E7E7', 'padding':'1rem'}">
    <h2>Lista de alumnos*</h2>
    <ol>
        <li [style.color]="alumno.asistencias <= 9 ? 'red' : 'green'" *ngFor="let alumno of alumnos">{{ alumno.nombre }}
            {{alumno.apellido}} - Asistencias: {{ alumno.asistencias }}</li>
    </ol>
    </div>
    <div [ngStyle]="{'background-color':'#F7F5AC', 'margin-top':'1rem', 'padding':'1rem'}">
    <h3 [ngStyle]="{'color':'green'}">*Los alumnos con 10 o mas asistencias estan remarcados con color VERDE</h3>
    <h3 [ngStyle]="{'color':'red'}">*Los alumnos con 9 o menos asistencias estan remarcados con color ROJO</h3>
    </div>
</div>