.componenteCursos{
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.botonNuevoCurso{
  margin-bottom: 2rem;
}

.containerCursos{
  background-color: silver;
  border-radius: 4px;
  color: black;
}

.divider{
  color: black;
}