<h1 class="heading" titleSize>Cursos </h1>
<div *ngFor="let curso of cursos" class="cursos">
    <mat-card class="card">
        <mat-card-title>{{ curso.nombre }}</mat-card-title>
        <mat-card-subtitle>Turno {{ curso.turno }}</mat-card-subtitle>
        <mat-card-actions align="end">
            <button mat-flat-button color="primary" (click)="abrirCursoDialog(curso)">Modificar</button>
            <button mat-flat-button color="warn" (click)="eliminarCurso(curso.id)">Eliminar</button>
        </mat-card-actions>
    </mat-card>
    <br>
</div>