<h1 class="heading" titleSize>Inscripciones</h1>
<button mat-button color="primary" routerLink="/nuevo-alumno" class="botonNuevoAlumno">(+) Agregar nuevo alumno</button>

<div class="componenteInscripciones">
<!-- <h3 class="aviso heading">*Los alumnos con insuficientes asistencias son:{{ personasFiltradas$ | async | json }}</h3> -->
<div *ngFor="let alumno of alumnos" class="alumnos">
  <table class="table tabla">
    <h4>Legajo ({{ alumno.legajo }}) </h4>
    <h4>Nombre {{ alumno.nombre }} </h4>
    <h4>Apellido {{ alumno.apellido }}</h4>
    <h4>Asistencias {{ alumno.asistencias }} </h4>
    <button (click)="eliminarAlumno(alumno.legajo)" class="btn btn-danger">Eliminar</button>
  </table>
</div>


