<div class="container">
    <form [formGroup]="formulario" (ngSubmit)="editarAlumno()">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="nombre">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Apellido</mat-label>
            <input type="text" matInput formControlName="apellido">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Legajo</mat-label>
            <input type="number" matInput formControlName="legajo">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Correo</mat-label>
            <input type="text" matInput formControlName="correo">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Telefono</mat-label>
            <input type="number" matInput formControlName="telefono">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Direccion</mat-label>
            <input type="text" matInput formControlName="direccion">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
            <mat-label>Asistencias</mat-label>
            <input type="number" matInput formControlName="asistencias">
        </mat-form-field><br>

        <button mat-raised-button type="submit" [disabled]="formulario.invalid">Modificar</button>
    </form>
</div>