<!-- <h1 appFormatoTitulos>Detalle de Curso {{cursos.camada}} - {{cursos.nombre}} - Id: {{cursos.id}}</h1>

<mat-list>
    <mat-list-item>
        <h4 mat-line>Camada: {{cursos.camada}}</h4>
        <p mat-line>Nombre: {{cursos.nombre}}</p>
        <p mat-line>Descripcion: {{cursos.descripcion}}</p>
        <p mat-line>Turno: {{cursos.turno}}</p>
    </mat-list-item>
    <br>
    <button mat-raised-button color="primary" routerLink="/inscriptions/{{cursos.id}}"
        [disabled]="!cursos.active">Administrar incripciones</button>
    <br>
    <br>
    <mat-divider></mat-divider>
    <br>
    <h2 appFormatoTitulos>Estudiantes</h2>
    <mat-list>
        <mat-list-item *ngFor="let student of cursos.estudiantes"> -->
            <!-- {{curso | json}} -->
            <!-- <mat-icon mat-list-icon>assignment</mat-icon>
            <h4 appFormatoTitulos mat-line>{{student | formatoDatosStudent : 'nombre'}}</h4>

            &nbsp;
            <button mat-raised-button color="primary" routerLink="/students/{{student.id}}">Ver Estudiante</button>
        </mat-list-item>
    </mat-list>
</mat-list> -->

<p>detalle</p>