table {
  width: 100%;
  background-color: silver;
}
mat-header-cell, mat-cell {
  justify-content: left;
}
.left-text {
  text-align: left;
}

mat-paginator{
  background-color: silver;
  color: black;
}

.mat-header-cell, .mat-cell{
  color: black;
}