<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" mode="side" opened="true">
        <img />

        <p class="designation" *ngIf="sesionActiva.activa && sesionActiva.usuario.rol == 'estudiante'">Usuario:
            Estudiante</p>
        <p *ngIf="sesionActiva.activa && sesionActiva.usuario.rol == 'admin'" class="designation">Usuario: Administrador
        </p>

        <mat-divider></mat-divider>

        <div class="navbar">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="'alumnos'">Alumnos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'cursos'">Cursos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'inscripciones'"
                        *ngIf="sesionActiva.activa && sesionActiva.usuario.rol == 'admin'">Inscripciones</a>
                </li>

                <button mat-stroked-button color="accent" (click)="logout()">Logout</button>
            </ul>
        </div>
    </mat-sidenav>
    <!-- </div> -->
    <mat-sidenav-content>
        <div class="contenido mat-elevation-z8">
            <router-outlet>
            </router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>