.toolbar{
    color: #6f9386;
    background-color: white;
    height: 50px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    margin: 1rem;
}

.linea{
    border-bottom: 1px solid #6f9386;
}